.logo{
    display:block;
    margin: auto;
    width: auto;
    height: 100px;
    width: 100px;
}
body{
    background-image: linear-gradient(white, black);
    height: 97.5vh;
}

.container{
    background-image:url("img1.jpg");
    max-width: 955px;
    border: 2px solid black;
    border-radius: 8px;
    margin: auto;
    height: 62vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: rgb(228, 221, 221);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid white;
    border-radius: 10px;
}

.right{
    float: right;
    clear: both;
}

.left{
    float:left;
    clear: both;
}

#send-containter{
    display: block;
    margin: auto ;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 91.2%;
    border: 2px solid black;
    border-radius: 7px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 7px;
    padding: 10px;
}
